body {
    background: white;
    width: 100%;
 /*   max-width: 900px;*/
    align-items: center;
    -webkit-box-align: center;
}

nav {

    height: 55px;

}

header {
    background-color: #f8f9fa;
    margin-bottom: 15px;
}


.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.card{
    margin-bottom: 10px;
    margin-left: 0;

}
.card-body{
    padding: 0;
}
.card-img{
    height: 400px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat:  no-repeat;
}
.card-descr{
    margin: 10px;

}
.name {
    display: flex;
    font-size: 16px;
    font-weight: 800;
    margin-left: 10px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2b2a2c url("https://pp.userapi.com/c830509/v830509419/15a81b/YG-44JDodU0.jpg");
    background-size: 100%;
}
.post_date {
    margin: 10px;
    font-size: 10px;
    flood-color: #7a7a7a;
}
.card-header{
    display: flex;
    align-items: center;

}
.aside_wrapper{
    background: #f0f0f0;
    padding: 10px;
    float: right;
    display: flex;
    align-items: center;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}
.col-12 {
    padding-left: 0px;
}

.navbar-brand {
    /* padding-top: 0; */
    /* padding-bottom: 0;
    padding-left: 10px; */
}
.card-btn{
    display: flex;
    margin: 10px;
}
.comments{
    margin: 10px;
}
